In [44]:
import pandas as pd
import numpy as np

In [31]:
prices = pd.read_csv('../data/price_data.csv', parse_dates=True, index_col='date')

In [32]:
ps = prices[prices['platform'] == 'ps'].copy()

In [33]:
monthly_prices = pd.DataFrame(ps.groupby('futbin_id').resample('M').median()['price']).reset_index()

In [45]:
monthly_prices['price'] = np.where(monthly_prices['price'] == 0, np.nan, monthly_prices['price'])

In [46]:
pivoted = monthly_prices.pivot_table(values='price', columns='date', index='futbin_id')

In [47]:
pivoted

date,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30
futbin_id,,,,,,,,,,
41,2700.0,1176.0,2167.0,1900.0,1664.0,1504.0,1177.0,1526.5,1805.0,1947.0
51,NaN,NaN,NaN,NaN,326524.0,281154.0,228269.0,215571.5,110840.0,88579.5
80,717.0,729.0,727.0,750.0,722.0,754.0,718.0,775.5,787.0,744.0
240,NaN,NaN,NaN,NaN,596600.0,529960.0,393185.0,343160.0,177520.0,121575.0
241,NaN,NaN,NaN,NaN,460391.0,398846.0,296778.0,289289.0,171385.0,130170.5
...,...,...,...,...,...,...,...,...,...,...
268624001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2471922.0,1447501.0
268636103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95954.0,81391.5
268647644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88829.0,67357.5
268671246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30769.0,31563.5
268674541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,864058.5,522620.0

In [48]:
pivoted

date,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30
futbin_id,,,,,,,,,,
41,2700.0,1176.0,2167.0,1900.0,1664.0,1504.0,1177.0,1526.5,1805.0,1947.0
51,NaN,NaN,NaN,NaN,326524.0,281154.0,228269.0,215571.5,110840.0,88579.5
80,717.0,729.0,727.0,750.0,722.0,754.0,718.0,775.5,787.0,744.0
240,NaN,NaN,NaN,NaN,596600.0,529960.0,393185.0,343160.0,177520.0,121575.0
241,NaN,NaN,NaN,NaN,460391.0,398846.0,296778.0,289289.0,171385.0,130170.5
...,...,...,...,...,...,...,...,...,...,...
268624001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2471922.0,1447501.0
268636103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95954.0,81391.5
268647644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88829.0,67357.5
268671246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30769.0,31563.5
268674541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,864058.5,522620.0

In [50]:
pivoted.to_csv('../data/monthly_prices.csv')